.vagrant
.DS_Store
.python-version
.vscode/
*.retry
facts/
roles/etcd/vars/
roles/flannel/vars/
roles/docker/vars/
roles/kubernetes/vars/
cluster-services/
node_modules/
_book/
site/
build/
dist/
opendc.egg-info/
*.pyc
