apiVersion: v1
kind: ReplicationController
metadata:
  name: jenkins-master
  namespace: {{ development_namespace }}
  labels:
    k8sdc-app: jenkins-master
    k8sdc.io/services-development: "true"
    version: v0
  annotations:
    k8sdc: "true"
spec:
  replicas: 1
  selector:
    k8sdc-app: jenkins-master
    version: v0
  template:
    metadata:
      labels:
        k8sdc-app: jenkins-master
        k8sdc.io/services-development: "true"
        version: v0
      annotations:
        k8sdc: "true"
    spec:
      containers:
      - name: jenkins-master
        image: jenkins
        #image: kube-registry:5000/jenkins
        volumeMounts:
        - name: jenkins-master-volume
          mountPath: /var/jenkins_home
      volumes:
      - name: jenkins-master-volume
        nfs:
          server: "{{ groups['k8sdc-master'] | first }}"
          path: /var/exports/services-development/jenkins
          readOnly: false