apiVersion: v1
kind: Secret
metadata:
  name: romulus-secret
  namespace: {{ infrastructure_namespace }}
type: Opaque
data:
  ca.crt: {{ ca_cert.content }}
  kubecfg.key: {{ kubecfg_key.content }}
  kubecfg.crt: {{ kubecfg_crt.content }}