apiVersion: v1
kind: Service
metadata:
  name: opendj
  namespace: "{{ infrastructure_namespace }}"
  labels:
    k8sdc-app: opendj
    k8sdc.io/services-infrastructure: "true"
  annotations:
    k8sdc: "true"
spec:
  selector:
    k8sdc-app: opendj
  clusterIP:  {{ k8sdc_opendj_ip }}
  ports:
  - name: ldap
    port: 389
    protocol: TCP
