[Unit]
Description=Kubernetes Kubelet Server
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/var/lib/kubelet 
EnvironmentFile=-/etc/kubernetes/config/config
EnvironmentFile=-/etc/kubernetes/config/kubelet
ExecStart=/usr/bin/kubelet \
      $KUBE_LOGTOSTDERR \
      $KUBE_LOG_LEVEL \
      $KUBE_ALLOW_PRIV \
      $KUBELET_ADDRESS \
      $KUBELET_HOSTNAME \
      $KUBELET_API_SERVER \
      $KUBELET_DNS_IP \
      $KUBELET_DNS_DOMAIN \
      $KUBELET_KUBECONFIG \
      $KUBELET_ARGS
Restart=always

[Install]
WantedBy=multi-user.target
