[Unit]
Description=Kubernetes Scheduler Server

[Service]
EnvironmentFile=-/etc/kubernetes/config/config
EnvironmentFile=-/etc/kubernetes/config/kube-scheduler
User=kube
ExecStart=/usr/bin/kube-scheduler \
	    $KUBE_LOGTOSTDERR \
	    $KUBE_LOG_LEVEL \
	    $KUBE_MASTER \
      $KUBE_SCHEDULER_ADDRESS \
      $KUBE_SCHEDULER_KUBECONFIG \
      $KUBE_SCHEDULER_LEADER_ELECT \
	    $KUBE_SCHEDULER_ARGS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
