[Unit]
Description=Kubernetes Controller Manager Server

[Service]
EnvironmentFile=-/etc/kubernetes/config/config
EnvironmentFile=-/etc/kubernetes/config/kube-controller-manager
User=kube
ExecStart=/usr/bin/kube-controller-manager \
	    $KUBE_LOGTOSTDERR \
	    $KUBE_LOG_LEVEL \
	    $KUBE_MASTER \
      $KUBE_CONTROLLER_MANAGER_ADDRESS \
      $KUBE_CONTROLLER_MANAGER_KUBECONFIG \
      $KUBE_CONTROLLER_MANAGER_LEADER_ELECT \
      $KUBE_CONTROLLER_MANAGER_SERVICE_KEY \
      $KUBE_CONTROLLER_MANAGER_ROOT_CA \
	    $KUBE_CONTROLLER_MANAGER_ARGS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
