[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/var/lib/kubelet 
EnvironmentFile=-/etc/kubernetes/config/config
EnvironmentFile=-/etc/kubernetes/config/kubelet
ExecStart=/usr/bin/kubelet \
      $ADDRESS \
      $HOSTNAME \
      --allow-privileged=true \
      $CLUSTER_DNS \
      $CLUSTER_DOMAIN \
      --container-runtime=docker \
      $KUBECONFIG \
      --serialize-image-pulls=false \
      $KUBE_LOGTOSTDERR \
      $KUBE_LOG_LEVEL \
      $KUBE_ALLOW_PRIV \
      $ARGS
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
