apiVersion: v1
kind: Service
metadata:
  name: kibana-logging
  namespace: kube-system
  labels:
    k8s-app: kibana-logging
    kubernetes.io/cluster-service: "true"
    kubernetes.io/name: "Kibana"
    romulus/type: internal
  annotations:
    k8sdc: "true"
    romulus/host: '{{ kubernetes_logging_fqdn }}'
    romulus/pathRegexp: '.*'
    romulus/frontendSettings: '{"FailoverPredicate":"(IsNetworkError() || ResponseCode() == 503) && Attempts() <= 2", "PassHostHeader": true, "TrustForwardHeader": true, "Hostname": "{{ kubernetes_logging_fqdn }}"}'
    romulus/backendSettings: '{"KeepAlive": {"MaxIdleConnsPerHost": 128, "Period": "4s"}}'
spec:
  selector:
    k8s-app: kibana-logging
  clusterIP:  {{ kubernetes_logging_ip }}
  ports:
  - name: http
    port: 80
    targetPort: 5601
    protocol: TCP
