---
flannel_version:  0.5.5
flannel_pkgname:  flannel-{{ flannel_version }}-linux-amd64.tar.gz
flannel_url:      https://github.com/coreos/flannel/releases/download/v{{ flannel_version }}/{{ flannel_pkgname }}
flannel_network:  10.0.0.0/8
flannel_subnet:   24
flannel_backend:  vxlan
flannel_udp_port: 8472
flannel_masq:     true