#
# kubernetes kubelet config
#

ADDRESS="--address={{ main_ip }}"
HOSTNAME="--hostname_override={{ ansible_fqdn }}"
CLUSTER_DNS="--cluster-dns={{ solutions.cs1_cluster_services.cluster_ip }}"
CLUSTER_DOMAIN="--cluster-domain={{ solutions.cs1_cluster_services.domain }}"
KUBECONFIG="--kubeconfig=/etc/kubernetes/kubeconfig/kubelet.kubeconfig"
ARGS=""
