apiVersion: v1
kind: Config
current-context: proxy-to-{{ cluster_name }}
preferences: {}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: proxy
  name: proxy-to-{{ cluster_name }}
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/certs/k8sdc-ca.crt
    server: https://{{ groups['k8sdc-masters'][0] }}:{{ kubernetes_api_port }}
  name: {{ cluster_name }}
users:
- name: proxy
  user:
    token: {{ node_token_values[inventory_hostname]['system_proxy'] | b64decode }}
