apiVersion: v1
kind: Config
current-context: controller-manager-to-{{ cluster_name }}
preferences: {}
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/certs/k8sdc-ca.crt
    server: https://{{ groups['k8sdc-masters'][0] }}:{{ kubernetes_api_port }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: controller-manager
  name: controller-manager-to-{{ cluster_name }}
users:
- name: controller-manager
  user:
    token: {{ master_token_values[inventory_hostname]['system_controller_manager'] | b64decode }}
