---
- name: Install kubectl and helm clients locally
  hosts: 
    - localhost
  tasks: 
    - name: Download kubectl
      get_url:
        url:   "{{ kubectl_url }}"
        dest:  "{{ client_dir }}/kubectl"
        force: yes
        mode:  0755

    - name: Download helm
      get_url:
        url:  "{{ helm_url }}"
        dest: /tmp/

    # NOTE: Ansible unarchive module seems to be unreliable
    - name: Extract helm
      command: >
        tar -xzvf {{ helm_url | basename }}
      args:
        chdir: /tmp/

    - name: Copy helm
      command: >-
        cp /tmp/{{ goos }}-{{ goarch }}/helm {{ client_dir }}

    - name: Set Helm permissions
      file:
        path: "{{ client_dir }}/helm"
        mode: 0755
